




/*===========================
       8.CONTACT css 
===========================*/


.contact-area{
    @media #{$xs}{
        padding-top: 75px;
        padding-bottom: 80px;
    }
}



.form-group {
	margin: 0;
}

p.form-message.success,
p.form-message.error {
	font-size: 16px;
	color: #333;
	background: #ddd;
	padding: 10px 15px;
	margin-left: 15px;
	margin-top: 15px;
}
p.form-message.error {
	color: #f00;
}

.contact-form{
    
    & .single-form{
        margin-top: 30px;
        
        & textarea,
        & input{
            width: 100%;
            height: 60px;
            border: 1px solid #eee;
            border-radius: 5px;
            padding: 0 30px;
            background-color: #fff;
            font-family: 'Hind', sans-serif;
            font-size: 16px;
        }
        
        & textarea{
            height: 160px;
            padding-top: 20px;
            resize: none;
        }
        
        & textarea::placeholder,
        & input::placeholder{
            opacity: 1;
            color: #999;
        }
    }
}


.list-unstyled li {
	font-size: 13px;
	margin-left: 2px;
	margin-top: 5px;
	color: #f00;
}











