// Font Family
$montserrat: 'Montserrat', sans-serif;
$poppins: 'Poppins', sans-serif;


// Colors ---------------
$white: #fff;
$black: #222;
$grey:#fff5f1;
$grey-2:#ededed;


// Theme Color
$theme-color: #EB3656;

// Body Color
$body-text-color: #646464;

// Border Color
$hr-border-color:#eceff8;


// Heading Color
$heading-color: #121619;

// Soft color
$black-soft:#7e7e7e;


// Responsive Variables
$desktop: 'only screen and (min-width: 1400px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1400px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';



