/** Setup for code demo only */
:root {
    --carousel-height: 300px;
  }

  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  /**
    Wrapper
  */
  .carousel {
      top: 100px;
    position: relative;
    max-width: 800px;
    width: 100%;
  }

  /**
    Controls - pause/resume, previous, and next buttons
  */
    /* Resets for all buttons */
    .is-control {
      background: none;
      color: rgba(0,0,0,.7);
      border: 0;
      cursor: pointer;
      transition: all .2s linear;
    }

      .is-control:focus {
        outline: none;
        background-color: rgba(0,0,0,.8);
        color: rgba(255,255,255,1);
      }

    /* Pause/resume button */
    .rotation-button {
      position: absolute;
      bottom: 5px;
      left: 5px;

      padding: 10px 15px;
      z-index: 1;

      font-size: 20px;
      border-radius: 5px;
    }

      .rotation-button .pause-container,
      .rotation-button .resume-container {
        display: none;
      }

        .rotation-button .pause-container.is-visible,
        .rotation-button .resume-container.is-visible {
          display: block;
        }

    /* Previous slide button */
    .previous-button {
      position: absolute;
      left: 0;
      top: calc(var(--carousel-height)/2 - 40px);

      padding: 5px 15px;
      z-index: 1;

      font-size: 40px;

      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-left: 0;
    }

    /* Next slide button */
    .next-button {
      position: absolute;
      right: 0;
      top: calc(var(--carousel-height)/2 - 40px);

      padding: 5px 15px;
      z-index: 1;

      font-size: 40px;

      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-right: 0;
    }

  /**
    Slides container
  */
  .slides {
    /** By default Slick absolutely positions it's slide dots under the slides and adds a bottom margin to prevent overlap with content that follows. Since we're moving the slide dots into the carousel itself, this margin is no longer needed. */
    margin-bottom: 0 !important;
  }

  /**
    Single slide
  */
  .slide {
    position: relative;
    height: var(--carousel-height);
  }

    /* Make absolutely sure non-visible slides are hidden from all users */
    .slide.is-hidden {
      visibility: hidden;
    }

    .slide .background-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  /**
    Slide 2 content
  */
  .slide .content {
    position: absolute;
    top: 20px;
    left: 15%;

    max-width: 400px;
    width: 50%;
    max-height: 70%;
    padding: 15px;

    white-space: normal;
    color: white;
    background-color: royalblue;
    box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
  }

    .slide .content h2 {
      margin: 0;
      font-size: 1.7rem;
    }

    .slide .content p {
      margin: 10px 0 20px 0;
    }

    .slide .content .cta-link {
      display: inline-block;
      padding: 5px 10px;

      background-color: white;
      color: rgba(0,0,0,.7);
      text-decoration: none;
      font-weight: 800;
      box-shadow: 3px 3px 0 0 rgba(0,0,0,.3);
    }

      .slide .content .cta-link:focus,
      .slide .content .cta-link:hover {
        text-decoration: underline;
        color: black;
      }

      .slide .content .cta-link:focus {
        outline: 3px solid rgba(0,0,0,1);
      }

  /**
    Restyle the slide dots generated by Slick Slider
  */
  .slick-dots {
    bottom: 10px;
  }

    .slick-dots li {
      margin: 0 2px;
    }

      /* Create a circle to serve as the slide dot */
      .slick-dots li button {
        width: 15px;
        height: 15px;

        margin: 0;
        padding: 0;

        background-color: rgba(0,0,0,.3);
        border: 0;
        border-radius: 15px;
        cursor: pointer;
        opacity: .7;
        transition: transform .2s linear;
      }

        /* Get rid of the Unicode • character that Slick injects, which screen readers may attempt to read out as "bullet" */
        .slick-dots li button:before {
          content: '';
        }

        /* Give the focused slide dot a nice visible focus indicator */
        .slick-dots li button:focus {
          box-shadow: 0 0 0 1px white, 0 0 0 4px hsl(204, 86%, 53%);
          outline: none;
        }

        /* Fade in on hover */
        .slick-dots li button:hover {
          opacity: 1;
        }

        /* Leverage aria-current for styling to ensure we're using the attribute correctly */
        .slick-dots li button[aria-current="true"] {
          background-color: rgba(0,0,0,1);
          transform: scale(1.4);
        }

  /** Credits at bottom */
  .credits {
    display: inline-block;
    margin-top: 100px;
    margin-left: 20px;
    padding: 5px;
    font-size: 14px;
    color: black;
    text-decoration: none;
    opacity: .7;
  }

    .credits img {
      height: 30px;
      margin-left: 5px;
      margin-top: -2px;
      vertical-align: middle;
    }

    .credits:hover,
    .credits:focus {
      opacity: 1;
    }