@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic);

.page-container {
  max-width: 600px;
  margin: 0 auto;
  top: -100px;
}

.module {
    margin-top: 100px;
  padding: 0 10px;
}
.module h2 {
  font-weight: 300;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  color: #323232;
  margin-bottom: 10px;
}
.module .subtitle {
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #f26226;
}

.events-list {
  list-style: none;
  margin: 60px 0 0 0;
  padding: 0;
}
.events-list li {
  margin-bottom: 50px;
}

.event-header {
  display: flex;
}

.event-details {
  padding-left: 14px;
}

.event-title {
  line-height: 1.5;
}
.event-title a {
  transition: all 0.5s ease;
  color: #f26226;
  text-transform: uppercase;
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 4px;
  line-height: 1;
  text-decoration: none;
}
.event-title a:hover {
  color: #a8380a;
}

.event-date {
  color: #323232;
  font-size: 18px;
}

.event-icon {
  flex: 0 0 45px;
  background-color: #f26226;
}

.event-content {
  padding-top: 15px;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.5;
}